.Main{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.3fr 3fr 0.3fr;
  height: 100vh;
  grid-template-areas:"logo logo"
                      "left_Bar right_Bar"
                      "footer footer";
}

.logo{
  display: flex;
  background-color: yellow;
  grid-area: logo;
}
.header_item {
  margin-left: 3%;
  border: 2px solid blue;
  padding-right: 2%;
  border-radius: 25px;
  text-align: center;
}
.left_Bar{
  background-color: lightblue;
  grid-area: left_Bar;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.right_Bar{
  background-color: #A2BBBB;
  grid-area: right_Bar;
  box-sizing: border-box;

}
.Banner, .Block{
  background-color: #474A4A;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20%;
  text-align: center;
  font-weight: bold;
  color: white;
}
.Block{
  padding: 30%;
}
.Banner_Class{
  margin-top: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
}


.Block_Class{
    display: grid;
    margin-left: 1vw;
    margin-right: 1vw;
    grid-column-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
}



.footer{
  display: flex; 
  background-color: blue;
  grid-area: footer;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1200px){
  .Main{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 0.3fr;
    height: 100vh;
    grid-template-areas:"logo"
                        "home"
                        "box"
                        "footer";
  }
  .logo{

    grid-area: logo;
  }
  .left_Bar{
    grid-area: home;
  }
  .right_Bar{
    grid-area: box;
  }
  .footer{
    grid-area: footer;
  }

}

@media all and (max-width: 600px){
  .Main{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 2fr 0.3fr;
    height: 100vh;
    grid-template-areas:"logo"
                        "home"
                        "box"
                        "footer";
  }
  .logo{
    grid-area: logo;
  }
  .left_Bar{
    grid-area: home;
  }
  .right_Bar{
    grid-area: box;
  }
  .footer{
    grid-area: footer;
  }

  .Block_Class{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .bl1, .bl2, .bl3{
    grid-column: 1/3;
    padding: 3%;
  }

}
