{% extends 'base.html' %}
{% block content %}
<h1 align="center">User Registration</h1>
  <form class=""  method="post" align="center">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="submit" value="submit">
      <button type="button" name="UserDetails"><a href="UserDetails">UserDetails</a></button>
      <button type="button" name="update"><a href="option">update</a></button>
  </form>

  <div>
    {% for message in messages %}
    <h4 align="center">{{message}}</h4>
    {% endfor %}
  </div>

{% endblock  %}
