{% extends 'base.html' %}
{% block content %}
<h1 align="center">User Details</h1>
<table border="1px" align="center">
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Mobile</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{user.userid}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.password}}</td>
    <td>{{user.mobile}}</td>
  </tr>
  {% endfor %}

</table>



{% endblock  %}
